In [59]:
import numpy as np
import pandas as pd
import xlsxwriter
from tqdm import tqdm
import yaml

In [60]:
xls = pd.ExcelFile('Timetable_13_Mar_2021-67-97-converted.xlsx')
df = pd.read_excel(xls)

In [61]:
for i in range(2, 8):
    df = pd.concat([pd.read_excel(xls, f'Table {i}'), df], ignore_index=True)
df

,COM COD,COURSE NO,Unnamed: 2,Unnamed: 3,COURSE TITLE,Unnamed: 5,TEXT BOOK(S),Unnamed: 7,MODE OF SUPPLY,Unnamed: 9
0,1628.0,HSS,NaN,F236,SYMBOLIC LOGIC,NaN,"Copi I.M. Symbolic Logic\nPearson Edu, 5th ed....",NaN,Buy Coop (Stock),NaN
1,2425.0,HSS,NaN,F247,SOCIAL INFORMATICS,NaN,"Social Informatics: Past, Present and Future –...",NaN,Buy Coop (Stock),NaN
2,1776.0,HSS,NaN,F266,STUDY PROJECT,NaN,No text book required,NaN,NaN,NaN
3,1777.0,HSS,NaN,F323,ORGANIZATIONAL PSYCHOLOGY,NaN,"Jex, Steve M Organizational Psychology WSE, 2006",NaN,Buy Coop (Stock),NaN
4,1155.0,HSS,NaN,F325,CINEMATIC ADAPTATION,NaN,"Snyder , Marry H\nAnalyzing Literature to Fil...",NaN,Buy Coop (Req),NaN
...,...,...,...,...,...,...,...,...,...,...
461,NaN,NaN,NaN,NaN,NaN,NaN,"(ii) Chandra, AM & SK Ghosh Remote Sensing & G...",NaN,Buy Coop (Stock),NaN
462,1220.0,CE,F434,NaN,ENV IMPACT ASSESSMENT,NaN,No text book required,NaN,NaN,NaN
463,1234.0,CE,F435,NaN,INTRODUCTION TO FEM,NaN,"Logan, Daryl L\nFirst Course in Finite Element...",NaN,Buy Coop (Stock),NaN
464,1711.0,CE,F491,NaN,SPECIAL PROJECT,NaN,No text book required,NaN,NaN,NaN
465,433.0,CE,G515,NaN,FUNDAMENTALS OF SYS ENGG,NaN,"Blanchard, B & W.J. Fabrycky\nSystems Engg and...",NaN,Buy Coop (Req),NaN

In [62]:
df.to_excel('temp.xlsx')

In [63]:
for c in df.columns: print(c)

COM COD
COURSE NO
Unnamed: 2
Unnamed: 3
COURSE TITLE
Unnamed: 5
TEXT BOOK(S)
Unnamed: 7
MODE OF SUPPLY
Unnamed: 9

In [64]:
df.fillna('', inplace=True)


for row in df.index:
    cno = df.loc[row, 'COURSE NO']
    cnn = df.loc[row, 'Unnamed: 2'] + df.loc[row, 'Unnamed: 3']
    final_cno = ''
    if cno and cnn:
        final_cno = cno + ' ' + cnn
    df.loc[row, 'code'] = final_cno
    df.loc[row, 'textbook'] = df.loc[row, 'TEXT BOOK(S)'] + df.loc[row, 'Unnamed: 5']
for row in df.index:
    if not df.loc[row, 'code']:
        df.loc[row-1, 'textbook'] = df.loc[row-1, 'textbook'] + ' + '+df.loc[row, 'textbook']
#         if not df.loc[row-1, 'code']:
#             df.loc[row-2, 'textbook'] = df.loc[row-2, 'textbook'] + ' + '+df.loc[row-1, 'textbook']
    
del df['COURSE NO']
del  df['COM COD']
del df['Unnamed: 2']
del df['Unnamed: 3']
del df['MODE OF SUPPLY']
del df['Unnamed: 7']
del df['Unnamed: 9']
del df['Unnamed: 5']
del df['TEXT BOOK(S)']
df

,COURSE TITLE,code,textbook
0,SYMBOLIC LOGIC,HSS F236,"Copi I.M. Symbolic Logic\nPearson Edu, 5th ed...."
1,SOCIAL INFORMATICS,HSS F247,"Social Informatics: Past, Present and Future –..."
2,STUDY PROJECT,HSS F266,No text book required
3,ORGANIZATIONAL PSYCHOLOGY,HSS F323,"Jex, Steve M Organizational Psychology WSE, 2006"
4,CINEMATIC ADAPTATION,HSS F325,"Snyder , Marry H\nAnalyzing Literature to Fil..."
...,...,...,...
461,,,"(ii) Chandra, AM & SK Ghosh Remote Sensing & G..."
462,ENV IMPACT ASSESSMENT,CE F434,No text book required
463,INTRODUCTION TO FEM,CE F435,"Logan, Daryl L\nFirst Course in Finite Element..."
464,SPECIAL PROJECT,CE F491,No text book required
465,FUNDAMENTALS OF SYS ENGG,CE G515,"Blanchard, B & W.J. Fabrycky\nSystems Engg and..."

In [65]:
df.to_excel('temp3.xlsx', index=False)

In [37]:
data = yaml.full_load(open('courses.yaml'))

In [27]:
for course,d in data.items():
    for i in df.index:
        if d['code'] == df.loc[i,'code']:
            d['textbook'] = df.loc[i, 'textbook'].replace('\n', '').replace('\n', '')
for course,d in data.items():
    if not d['textbook']:
        d['textbook'] = 'N'
yaml.dump(data, open('courses_final.yaml', 'w'))